@model WebArticle.Views.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "حذف دسته بندی";
}


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>

        <dd>
            <img src="~/images/Category/@Model.ImageName" class="image200×120" id="newImagePreview">
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <h4>آیا از حذف این دسته بندی مطمئن هستید؟!</h4>
            @Html.ActionLink("بازگشت به لیست", "Index", null, new { @class = "btn btn-primary" }) |
            <input type="submit" value="بله حذف شود!" class="btn btn-danger" />

        </div>
    }
