@model WebArticle.Views.ViewModels.CategoryViewModel


@{
    ViewBag.Title = "مشاهده دسته بندی";
}

<h2>مشاهده دسته بندی</h2>
<br />
<br />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>

        <dd>
            <img src="~/images/Category/@Model.ImageName" class="image200×120" id="newImagePreview">
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("بازگشت به لیست", "Index", null, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("ویرایش دسته بندی", "Edit", new { id = Model.CategoryId }, new { @class = "btn btn-warning" })

</p>

