@model IEnumerable<WebArticle.Views.ViewModels.CategoryViewModel>

@{
    ViewBag.Title = "دسته بندی ها";
}

<h2>لیست دسته بندی ها</h2>

<p>
    @Html.ActionLink("درج دسته بندی جدید", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <img src="~/images/Category/@item.ImageName" class="image200×120" />
            </td>
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.CategoryId }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("مشاهده", "Details", new { id = item.CategoryId }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.CategoryId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
